.formulario_cadastro form input {
    display: flex;
    flex-direction: column;
    width: 540px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 0 5px 8px;
}

.btn_cadastro {
    margin-left: 38%;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #FFF;
    font-weight: 700 !important;
    box-shadow: none;
    background-color: #5E5796;
    transition: all 0.3s ease 0s;
}

.label_formulario{
    color: #FFF;
}

.mind_booster {
    padding: 65px 0 10px 0;
    font-size: 65px;
    font-weight: 800;
    font-family: 'Tahoma';
    color: #746ACE;
    font-size: 45px !important; 
    margin-top: 40px;
}

.mind_comentario {
    font-size: 19px !important;
    color: #FFF;
    margin-bottom: 30px;
}